<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vacunatorio</title>
  
  <link href="styles.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <!-- Jquery-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>
  <!--HEADER-->
  <header>
    <img src="{% static 'img/logo_vacuna.png' %}"
      class="img-container rounded mx-auto d-block">
  </header>
  <!--NAV-->
  <div>
    <nav>
      <ul>
        <li">
          <a href="/home/">Home</a>
        </li>
        <li>
          <a href="/ingreso_vacona/">Ingresar vacona</a>
        </li>

        <li>
          <a href="/listado_vacona/">Listar vacunatorios</a>
        </li>

        <li>
          <a  href="/busqueda_vacona/">Buscar vacunatorios</a>
        </li>

        <li>
          <a href="/eliminacion_vacona/">Eliminar vacona</a>
        </li>

      </ul>
    </nav>
  </div>
<hr>
  <!--LISTADO-->
  <form action="/listar_vacunatorio/" method="GET">
    <table>
        <thead>
            <tr>
                <th>ID Atención</th>
                <th>Nombre Consultorio</th>
                <th>Nombre enfermero/a</th>
                <th>Rut enfermero/a</th>
                <th>Número de dosis</th>
                <th>Nombre Vacuna</th>
            </tr>
        </thead>
        <tbody>
            {% if vacunatorios %}
            {% for vac in vacunatorios %}
            <tr>
                <td>{{ vac.id_atencion  }}</td>
                <td>{{ vac.nom_consultorio }}</td>
                <td>{{ vac.nom_enfermero }}</td>
                <td>{{ vac.rut_enfermero }}</td>
                <td>{{ vac.nro_vacuna }}</td>
            </tr>
            {% endfor %}
            {% else %}
             <h2>No existe esta ID en la base de datos</h2>
            {% endif %}                
        </tbody>
    </table>   
    <input type="submit" value="Listar">
</form>

<hr>
  <footer>
    <p><b>Correo contacto: </b><a href=""> vacunatorio@maule.cl</a></p>
    <p><b>Teléfono contacto: +569 1742 8305</b></p>
  </footer>
</body>

</html>